<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body class="bg-image"   style="
background-size: cover;
background-image: url('/static/bg/bg2.jpeg');
height: auto;
background-repeat: no-repeat;">
<a href="/headhunt"class="btn btn-primary">Back</a>
    <div class="container" style="height:auto">
        <div class="row">
            <img src="/static/images/{{operator.image}}.png" alt="{{operator.img}}" class="bg-image"style="height: 100vh; width: 110vw;">
        </div>
        <div class="stuffs">
            <h2>{{operator.rarity}} Star {{operator.operator_class}}</h2>
            <img src="/static/icons/{{operator.operator_class}}.png" alt="icon" class="icon">
            <h2>{{operator.operator_name}}</h2>
        </div>
    </div>
    <div class="textbox">
        <h1><span class="auto-input"></span></h1>
    </div>

    <iframe allow="autoplay" id="audio" style="display:none"></iframe>
    <audio hidden controls autoplay>
        <source src="/static/audio/{{operator.voice}}.mp3" type="audio/mpeg">
    </audio>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".auto-input",{
            strings: ["{{operator.text}}"],
            typeSpeed: 73,
            backSpeed: 0,
            loop: false
            
        })
    </script>
</body>
<style>
    .textbox{
        position: absolute;
        bottom: -50px;
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,1));
        color: white;
        width: 100%;
        height: 20%;
    }
    .stuffs{
        position: absolute;
        bottom: 150px;
        color: white;
        display: flex;
        align-items: center;
        margin-left: 50px;
    }
    .stuffs>img{
        height: 50px;
        width: 50px;
    }

    h2{
        margin: 0px, 5px, 0px, 5px;
    }
</style>
</html>